@{
    ViewBag.Title = "GetFoodPel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Zakria.Models
<br>

<!--Pel-->
@foreach (var item in Model)
{

    if (item.Company.Equals("Pel"))
    {
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Pel</h4></div>

            <div class="panel-body">
                <div class="row">
                    @foreach (Item itemType in Model)
                    {
                        if (itemType.Company.Equals("Pel"))
                        {
                            if (itemType.Type.Equals("Food Care "))
                            {
                                <div class="col-md-4">
                                    <div href="#" class="thumbnail">
                                        @foreach (Photo photo in @ViewBag.PhotoList)
                                        {
                                            if (photo.ModelName.Equals(itemType.Model))
                                            {
                                                <img src="~/Images/Pel/Food/@photo.FileName" alt="...">
                                            
                                                if (@Session["email"] != null)
                                                {
                                                    <a href="AddCart?id=@itemType.Id"><h6 style="color:brown"><strong>Add to Cart</strong></h6></a>
                                                }
                                                
                                                <h6 class="h6" style="padding-left:7em"><strong>Price:</strong> @itemType.Price PKR</h6>
                                                <h6 class="h6" style="padding-left:7em"><strong>Item Name:</strong> @itemType.Name </h6>
                                                <h6 class="h6" style="padding-left:7em"><strong>Item Model:</strong> @itemType.Model</h6>
                                                break;
                                            }
                                        }

                                    </div>
                                </div>
                            }

                        }
                    }
                </div>
            </div>
        </div>
                    break;
    }

}
