@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Zakria.Models;

@foreach(Cart cart in Model)
{
    
    if(cart.Person.Equals(@Session["email"]))
    {
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Cart</h4></div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div href="#" class="thumbnail">

                                @foreach (Photo photo in @ViewBag.PhotoList)
                                {
                                    if (photo.ModelName.Equals(cart.ItemModel))
                                    {
                                       
                                        <img src="~/Images/@photo.FileName" alt="...">
                                        

                                        <h6 class="h6" style="padding-left:7em"><strong>Price:</strong> @cart.ItemPrice PKR</h6>
                                        <h6 class="h6" style="padding-left:7em"><strong>Item Name:</strong> @cart.ItemName </h6>
                                        <h6 class="h6" style="padding-left:7em"><strong>Item Model:</strong> @cart.ItemModel</h6>
                                        <a href="RemoveItem?id=@cart.Id"><h6 style="color:brown"><strong>Remove Item</strong></h6></a>
                                        break;
                                        
                                      }
                                  }  

                                </div>
                           </div>
                        </div>    
                    </div>

             </div>
    }
                
 }


<form action="/Home/CheckOut">
    <button type="submit" class="btn btn-default">Check Out</button>
</form>

